* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header-parent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}


.header-logo {
    font-size: 2rem;
    color: cyan
}


.header-child-container {
    font-weight: 800;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    color: cyan;
}

.head-line-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.quote {
    color: cyan;
}

.doctor {
    margin-left: 8rem;
}

.authenticate-logo-container {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: cyan;
}

.authenticate-small-letter-container {
    display: flex;
    justify-content: center;
}

.main-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    margin-top: 1rem;
    background-color: cyan;
    color: black;
}

.input {
    height: 1.5rem;
}

.other-button {
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    background-color: brown;
    color: white;
}

#submit-button {
    margin-left: 9rem;
    
}

.other-button:hover {
     background-color: cyan;
     color: black;
}

.other-button:active {
    background-color: orange;
    color: black;
}


@media (max-width: 530px){
  .header-parent-container {
    background-color: brown;
    flex-direction: column;
  }

  .navbar ul a {
    margin-right: 0.5rem;
  }
}


@media (max-width: 416px){
    .head-line-parent {
      text-align: center;
      flex-direction: column;
      background-color: green;
    }

    .doctor {
        margin-left: 2rem;
    }
}


@media (max-width: 315px){
   .header-parent-container {
    height: 8rem;
    background-color: purple;
   }

   .navbar ul a {
    display: block;
    text-align: center;
   }
    
   .main-parent-container {
    background-color: orange;
    display: block;
    text-align: center;
    height: 12rem;
   }

   #submit-button {
    margin-left: auto;
   }
}


@media(max-width: 209px){
  .authenticate-small-letter-container {
    background-color: lime;
    text-align: center;
  }

  .main-parent-container {
    height: 15.5rem;
  }
}


@media (max-width: 172px){
  .header-parent-container {
    width: 11em;
    background-color: green;
  }

   .head-line-parent {
    width: 11rem;
   }

   .main-parent-container {
      width: 11rem;
   }

   .authenticate-logo-container {
     width: 11rem;
   }

   .authenticate-small-letter-container {
      width: 11rem;
   }
}

