* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
}

.header-parent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: cyan;
    color: black;
}

.header-logo {
    font-size: 2rem;
}

.header-child-container {
    font-weight: 800;
}

.navbar ul a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

.special {
    color: lime;
}

.main-parent-container {
    display: grid;
    height: 12rem;
    justify-items: center;
    align-items: center;
}


.note-child-container {
  padding-left: 1rem;
}


.note {
    padding: 1rem;
}

.image-container {
  display: grid;
  grid-gap: 2rem;
}

.image-division {
  padding-left: 2rem;
}

.images {
  width: 60rem;
  height: 30rem;
}



@media (max-width: 989px){
  .images {
    width: 50rem;
  }
}



@media (max-width: 850px){
  .images {
    width: 40rem;
  }
}



@media (max-width: 690px){
  .images {
    width: 25rem;
  }
}



@media (max-width: 500px){
  .header-parent-container {
    flex-direction: column;
  }

  .images {
    width: 20rem;
  }

}

@media (max-width: 381px){
   .main-parent-container{
     text-align: center;
   }

   .images {
    width: 10rem;
  }
}

@media (max-width: 278px){
 .header-parent-container {
    height: 6rem;
 }

 .navbar ul a{
    display: block;
    text-align: center;
 }

  .images {
    width: 6rem;
  }
}

@media (max-width: 130px){
  .header-parent-container {
    width: 8.2rem;
  }

   .images {
    width: 4rem;
  }
}