* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
}

.header-parent-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: cyan;
    color: black;
}

.header-logo {
    font-size: 2rem;
}

.header-child-container {
    font-weight: 800;
}

.navbar ul a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

.special {
    color: lime;
}

.main-parent-container {
    display: grid;
    height: 12rem;
    justify-items: center;
    align-items: center;
}


.main-note-container {
  display: grid;
  padding-left: 2rem;
  justify-items: center;
  align-items: center;
}


.image-container {
  display: grid;
  justify-items: center;
  margin-top: 4rem;
  grid-gap: 2rem;
}


.images {
  width: 60rem;
  height : 40rem;
}


.create-div {
  padding: 2rem;
}

#append-input {
  margin-top: 2rem;
  text-align: center;
}

#text-input {
  padding: 0.3rem 0.3rem;
}


.button {
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
}





@media (max-width: 989px){

.image-container {
  text-align: center;
}


.images {
  width: 40rem;
  height: 20rem
}
}


@media (max-width: 680px){
  
.images {
  width: 30rem;
}
}

@media (max-width: 500px){
  .header-parent-container {
   flex-direction: column;
}

.images {
  width: 21rem;
}
}





@media (max-width: 381px){
   .main-parent-container{
     text-align: center;
   }

  .images {
  width: 15rem;
}
}


@media (max-width: 278px){
 .header-parent-container {
    height: 6rem;
 }


.images {
  width: 8rem;
}
 
.navbar ul a{
  display: block;
  text-align: center;
 }
}




